<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="input-group">
            <input type="text" id="enterEmail" placeholder="email">
            <input type="text" id="enterPass" placeholder="password">
            <button class="btn" id="loginEnter">войти</button>
        </div>

        <div class="input-group">
            <input type="text" id="loginEmail" placeholder="email">
            <input type="text" id="loginPass" placeholder="password">
            <input type="text" id="loginAge" placeholder="age">
            <button class="btn" id="loginAddBtn">добавить</button>
        </div>
        <div class="input-group">
            <input type="text" id="resetEmail" placeholder="email">
            <button class="btn" id="resetBtn">сбросить пороль</button>
        </div>
        <div class="input-group">
            <input type="text" id="getIdInput">
            <button class="btn" id="getId">поиск по id</button>
        </div>

        <div class="input-group">
            <input type="text" id="updateIdInput" placeholder="id">
            <input type="text" id="updateInput" placeholder="age">
            <button class="btn" id="updateId">обновить</button>
        </div>

        <button class="btn" id="listBtn">показать список</button>
    </div>
    <div id="content"></div>

    <script src="./index.js"></script>

</body>

</html>